<h1>{{ object.first_name }} {{ object.last_name }}</h1>

{% if object.image %}
  <img src="{{ object.image.url }}" width="200" />
{% endif %}

<p><strong>Nickname:</strong> {{ object.nickname }}</p>
<p><strong>Hometown:</strong> {{ object.hometown }}</p>
<p><strong>Years Active:</strong> {{ object.years_active }}</p>
<p><strong>Career Events:</strong> {{ object.career_events_played }}</p>
<p><strong>Career Wins:</strong> {{ object.career_wins }}</p>

<a href="{% url 'player_update' object.pk %}">Edit</a>
<a href="{% url 'player_delete' object.pk %}">Delete</a>
<a href="{% url 'player_list' %}">Back to Roster</a>
