/* h1 {
  color: rgba(26, 68, 207, 0.822);
  text-transform: uppercase;
  letter-spacing: 1px;
} */

.custom-header, h1 {
  font-size: 2rem;
  color: navy;
  font-family: Georgia, serif;
}

.hof-highlight {
  color: goldenrod;
  font-weight: bold;
}

footer {
  background: linear-gradient(180deg, #212529 0%, #000000 100%);
}
footer a:hover {
  color: #ffc107 !important; /* gold hover accent */
}
